<md-toolbar class="md-accent md-hue-3" ng-if="!vm.showSearch">
  <div class="md-toolbar-tools">
    <h2>
      <span>Applications</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="null">
      <i class="material-icons">cloud</i>
    </md-button>
    <md-button class="md-icon-button" ng-click="vm.refresh()">
      <i class="material-icons">refresh</i>
    </md-button>
    <md-button class="md-icon-button" ng-click="vm.favonly= vm.favonly ? undefined: true">
      <i class="material-icons">{{vm.favonly? 'favorite' : 'favorite_border'}}</i>
    </md-button>
    <md-button class="md-icon-button" ng-click="vm.showSearch = !vm.showSearch">
      <i class="material-icons">search</i>
    </md-button>
  </div>
</md-toolbar>

<md-toolbar class="md-accent md-hue-3" ng-if="vm.showSearch">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="vm.back()">
      <i class="material-icons">arrow_back</i>
    </md-button>
    <md-input-container md-theme="input" flex class="md-accent md-hue-1">
      <label>&nbsp;</label>
      <input ng-model="vm.query" placeholder="enter search" style="color: white;">
    </md-input-container>
  </div>
</md-toolbar>

<md-content ng-if="!vm.awesomeThings.length>0">
  <div layout="column" layout-align="center center">
    <md-progress-linear md-mode="indeterminate" class="md-accent"></md-progress-linear>
    <p class="md-caption">Fetching Applications..</p>
  </div>
  <br/>
</md-content>

<md-content ng-cloak>
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="item in vm.awesomeThings | filter:vm.search | filter:{IsFavorite:vm.favonly} | orderBy:vm.orderBy" ng-click="vm.redirect(item)">
      <div class="md-list-item-text" layout="column">
        <h3>
          <span class="md-title">{{ item.Title }}</span>
          <i ng-if="item.IsFavorite" class="material-icons aplportal-favorite">favorite</i>
        </h3>
        <h4>Categoria: {{ item.Category }}</h4>
        <p>{{ item.Description }}</p>
      </div>
      <md-menu class="md-secondary" md-position-mode="target-right target">
        <md-button class="md-icon-button" ng-click="vm.openMenu($mdOpenMenu, $event)">
          <i class="material-icons">more_vert</i>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="vm.favorite(item)">
              <i class="material-icons">{{item.IsFavorite? 'favorite_border' : 'favorite'}}</i> {{item.IsFavorite? 'Mark as Ordinary' : 'Mark as Popular'}}
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="null">
              <i class="material-icons">bug_report</i> Report a bug
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="null">
              <i class="material-icons">comment</i> Leave a comment
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>
