pt-aplist > md-sidenav, 
pt-aplist > md-sidenav.md-locked-open, 
pt-aplist > md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 400px !important;
} 